# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/

# Django
*.log
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
